<!DOCTYPE html>
<html>
  <head>
    <title>NFT PURCHASE SITE</title>
    <link rel="stylesheet" href="stylesheets/home.css" />
  </head>
  <body>
    <button id="btn-nft">NFT PURCHASE</button>
    <script src="javascripts/home.js"></script>
  </body>
</html>
